.row
  .col-md-10
    %p Video title: #{@video.title}
    %p Video description: #{@video.description}
    %p File Name: #{@video.video_file_file_name}
    %p Content Type: #{@video.video_file_content_type}
    %p File Size: #{@video.video_file_file_size}
    %p Length: #{@video.length}
.row
  .col-md-10
    = render partial: 'video_embed', locals: { video_url: @video.video_file.url }
.row
  .col-md-10
    %p#notice= notice

    = link_to 'Edit', edit_user_video_path(user_id: @user.id, id: @video.id)
    \|
    = link_to 'Back', user_videos_path(@user)
